@using BarryCES.Infrastructure.Extentions
@using BarryCES.Models.Enum
@model List<BarryCES.Models.MenuDto>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <h1 style="font-size: 2em; color: white; text-align: center">Dscoop</h1>
                </div>
                <div class="logo-element">
                    D
                </div>
            </li>
            @if (Model.AnyOne())
            {
                foreach (var module in Model.Where(item => item.Type == MenuType.Module))
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">@module.Name</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @foreach (var menu in Model.Where(item => item.ParentId == module.Id))
                            {
                                <li>
                                    <a class="J_menuItem" href="@menu.Url" data-index="0">@menu.Name</a>
                                </li>
                            }
                        </ul>

                    </li>
                }
            }
        </ul>
    </div>
</nav>
