<?xml version="1.0" encoding="utf-8"?>
<ArrayOfStaticFileModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- scripts config -->

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/main]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[首页js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/jquery.min.js]]></string>
      <string><![CDATA[~/Content/js/bootstrap.min.js]]></string>
      <string><![CDATA[~/Content/js/plugins/metisMenu/jquery.metisMenu.js]]></string>
      <string><![CDATA[~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js]]></string>
      <string><![CDATA[~/Content/js/barryces.js]]></string>
      <string><![CDATA[~/Content/js/contabs.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/bundles/jqueryAjax]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[MVC AJAX需要引入的JS文件]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/themes/js/jquery-1.10.2.min.js]]></string>
      <string><![CDATA[~/Content/themes/js/jquery.unobtrusive-ajax.min.js]]></string>
      <string><![CDATA[~/Content/themes/js/base.js]]></string>
      <string><![CDATA[~/Content/themes/js/batchprocess.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/Content/js/base]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[内容页基础js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/jquery.min.js]]></string>
      <string><![CDATA[~/Content/js/bootstrap.min.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/Content/js/ue]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[ue富文本js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/umeditor/umeditor.config.js]]></string>
      <string><![CDATA[~/Content/js/plugins/umeditor/umeditor.min.js]]></string>
      <string><![CDATA[~/Content/js/plugins/umeditor/lang/zh-cn/zh-cn.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/list]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[内容列表页面基础Js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/jqgrid/jquery.jqGrid.min.js]]></string>
      <string><![CDATA[~/Content/js/plugins/jqgrid/i18n/grid.locale-cn.js]]></string>
      <string><![CDATA[~/Content/js/json2.js]]></string>
      <string><![CDATA[~/Content/js/jqgrid-list.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
    </Srcs>
  </StaticFileModel>
  
  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/jqueryValidate]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[jquery验证需要引入的JS文件，不包含jquery本身]]></Desc>
    <Srcs>
      <string><![CDATA[~/Scripts/jquery.validate.js]]></string>
      <string><![CDATA[~/Scripts/jquery.validate.unobtrusive.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/menu]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[菜单添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/suggest/bootstrap-suggest.min.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
      <string><![CDATA[~/Content/js/page/menu.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/moduleset]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[板块添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/suggest/bootstrap-suggest.min.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
      <string><![CDATA[~/Content/js/page/moduleset.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/doc]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[文章添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/suggest/bootstrap-suggest.min.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
      <string><![CDATA[~/Content/js/page/doc.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/user]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[用户添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/base.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/roleauthen]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[角色授权页面的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/ztree/jquery.ztree.all.js]]></string>
      <string><![CDATA[~/Content/js/json2.js]]></string>
      <string><![CDATA[~/Content/js/page/roleAuthen.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/charts/flot]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[图表统计页面js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.js]]></string>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.pie.js]]></string>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.resize.js]]></string>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.spline.js]]></string>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.symbol.js]]></string>
      <string><![CDATA[~/Content/js/plugins/flot/jquery.flot.tooltip.min.js]]></string>
      <string><![CDATA[~/Content/js/page/charts.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/Content/js/plugins/layer/layermin]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[layer js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/layer/layer.min.js]]></string>
    </Srcs>
  </StaticFileModel>

</ArrayOfStaticFileModel>