<?xml version="1.0" encoding="utf-8"?>
<ArrayOfStaticFileModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- style config -->
  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/css/main]]></VirtualUrl>
    <Type><![CDATA[css]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[首页]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/css/bootstrap.min.css]]></string>
      <string><![CDATA[~/Content/css/style.min.css]]></string>
      <string><![CDATA[~/Content/css/font-awesome.min.css]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/css/content-base]]></VirtualUrl>
    <Type><![CDATA[css]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[内容框架页面基础样式]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/css/bootstrap.min.css]]></string>
      <string><![CDATA[~/Content/css/font-awesome.min.css]]></string>
      <string><![CDATA[~/Content/css/animate.min.css]]></string>
      <string><![CDATA[~/Content/css/style.min.css]]></string>
      <string><![CDATA[~/Content/js/plugins/umeditor/themes/default/css/umeditor.css]]></string>
    </Srcs>
  </StaticFileModel>
  
  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/css/login]]></VirtualUrl>
    <Type><![CDATA[css]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[登录页面样式]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/css/bootstrap.min.css]]></string>
      <string><![CDATA[~/Content/css/font-awesome.min.css]]></string>
      <string><![CDATA[~/Content/css/login-theme.css]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/css/plugins/ztree/style]]></VirtualUrl>
    <Type><![CDATA[css]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[ztree样式]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/css/plugins/ztree/metroStyle.css]]></string>
    </Srcs>
  </StaticFileModel>


  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/css/plugins/layer]]></VirtualUrl>
    <Type><![CDATA[css]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[layer 样式]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/layer/skin/layer.css]]></string>
    </Srcs>
  </StaticFileModel>
  
</ArrayOfStaticFileModel>